.card {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    align-items: flex-start;
  
    img {
        //height: 220px;
        //width: 360px;
        background-position: center;
        background-size: cover; // This will cover the entire area of the div without stretching the image
        border-radius: 4px; // To maintain consistency with the card border-radius
    }

 
  
    .tag {
      // Style for tag
    }
  
    .description {
      // Style for description
      flex-grow: 1; // Allow description to fill the space so the progress bar is pushed to the bottom
    }
  
    .funding {
      // Style for funding text
    }

    .proposerInfo {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    
        .proposerIcon {
          height: 32px; // Example size, adjust as needed
          width: 32px; // Example size, adjust as needed
          border-radius: 50%;
          margin-right: 8px;
        }
    
        .proposerName {
          // Style for the proposer's name
        }
      }
  
    .progressContainer {
      position: relative;
      width: 100%;
      background-color: #eee;
      border-radius: 4px;
      margin: 8px 0;
  
      .progressPercentage {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 8px;
        // Style for the progress percentage label
      }
      
      .progressBar {
        height: 10px;
        background-color: #4caf50;
        border-radius: 4px;
      }
    }
  
    .daysRemaining {
      // Style for days remaining text
    }
  }
  